.app.light {
	--bg-color: #5cdb95;
	--bg-inverted-color: #222831;

	--primary-color: #00adb5;
	--primary-inverted-color: #05386b;

	--secondary-color: #edf5e1;
	--secondary-inverted-color: #00fff5;
}
